<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.2.xsd">

	<aop:aspectj-autoproxy />
	
	<!-- 공통 기능 구현 클래스 -->
	<bean id="logAop" class="com.javalec.ex2.LogAop" />

	<bean id="student" class="com.javalec.ex2.Student">
		<property name="name" value="홍길동"></property>
		<property name="age" value="34"></property>
		<property name="gradeNum" value="3"></property>
		<property name="classNum" value="4"></property>
	</bean>
	
	<bean id="worker" class="com.javalec.ex2.Worker">
		<property name="name" value="홍길동"></property>
		<property name="age" value="34"></property>
		<property name="job" value="개발자"></property>
	</bean>
	
</beans>
